carrot_farm/obj/*
carrot_farm/Temp/*
carrot_farm/Library/*
carrot_farm/Assets/Blender_Models/*
carrot_farm/Assets/carrot_farm/*
carrot_farm/Assets/Samples/*
carrot_farm/Assets/SkySerie\ Freebie/*
carrot_farm/Assets/Terrain/*
carrot_farm/Logs/*
carrot_farm/ProjectSettings/*

